.app {
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0 auto;
  max-width: 1280px;
  width: 100vw;

  border: 1px solid #bbb;
  &__body {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 84px); // 84px = header (height+padding-top+padding-bottom)

    @media screen and (min-width: 768px) {
      height: calc(100vh - 60px);
    }
  }

  &__list-view {
    background-color: #f8f8f8;
    flex: 1;
    overflow: scroll;
    padding: 18px;
  }

  &__map-view {
    flex: 2;
  }

  &__toggle-view {
    align-items: center;
    background-color: #418A15;
    border: 1px solid darkgreen;
    border-radius: 3px;
    bottom: 30px;
    color: #fff;
    display: flex;
    font-size: 16px;
    justify-content: center;
    left: calc(50% - 50px);
    outline: none;
    padding: 12px;
    position: absolute;
    width: 100px;
  }

  .hide {
    display: none;
  }
}