.desktop {
  border: 1px solid #bbb;
  &__body {
    display: flex;
    flex-direction: row;
    height: 100vh;

    @media screen and (min-width: 768px) {
      height: 580px;
    }
  }

  &__list-view {
    background-color: #f8f8f8;
    flex: 1;
    overflow: scroll;
    padding: 18px;
  }

  &__map-view {
    flex: 2;
  }

  &__toggle-view {
    background-color: #418A15;
    border: 1px solid darkgreen;
    border-radius: 3px;
    bottom: 30px;
    color: #fff;
    font-size: 16px;
    left: calc(50% - 50px);
    outline: none;
    padding: 12px;
    position: absolute;
    width: 100px;
  }
}
