.desktop {
  border: 1px solid #bbb;
  &__body {
    display: flex;
    flex-direction: row;
    height: 580px;
  }

  &__list-view {
    background-color: #f8f8f8;
    flex: 1;
    overflow: scroll;
    padding: 30px;
  }

  &__map-view {
    flex: 2;
  }
}
