.header {
  align-items: center;
  border-bottom: none;
  box-shadow: 0 1px 2px #bbb;
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 0 30px;


  &__logo {
    align-items: center;
    display: flex;
    height: 100%;

    span {
      font-size: 24px;
    }
  }

  &__logo-image {
    height: 100%;
  }

  &__search {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  &__filter-btn,
  &__search-input {
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 100;
    margin-right: 15px;
    padding: 6px 12px;
  }

  &__search-input {
    border-right: none;
    margin-right: 0;
    outline: none;
  }

  &__search-btn {
    background-color: #fff;
    background-image: url('../../assets/images/search.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #bbb;
    border-left: none;
    height: 28px;
    width: 28px;
  }
}