.list-item {
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 12px 30px 12px 12px;
  position: relative;

  &:hover {
    border: 2px solid #418A15;
    padding: 11px 29px 11px 11px; // reduce padding by 1px to account for border increase
    transition: border-color 200ms;
  }

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #bbb;
    border-radius: 3px;
    height: 60px;
    margin-right: 15px;
    width: 60px;
  }

  &__details {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-count {
      margin-left: 5px;
    }
  }

  &__rating-count,
  &__pricing,
  &__info {
    font-size: 12px;
  }

  &__favorite-icon {
    background: url('https://cdn-assets.alltrails.com/assets/packs/media/search/icon-action-favorite-dark-a05b1a78.svg') no-repeat;
    background-size: contain;
    border: none;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 6px;
    top: 6px;
    transition: background 200ms;

    &.favorite {
      background: url('https://cdn-assets.alltrails.com/assets/packs/media/search/icon-action-favorite-solid-3a3f7aa4.svg') no-repeat;
      background-size: contain;
      transition: background 200ms;
    }
  }

  // remove some styles from tooltip view
  &.tool-tip {
    border: none;
    margin-bottom: 0;
    padding: 0;

    .list-item__favorite-icon {
      display: none;
    }

    .list-item__image {
      height: 45px;
      width: 45px;
    }
  }
}