.list-item {
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 15px;
  position: relative;

  &:hover {
    border: 1px solid green;
    transition: border-color 500ms;
  }

  &.tool-tip {
    border: none;
    margin-bottom: 0;
    padding: 5px;
  }

  &.tool-tip &__favorite-icon {
    display: none;
  }

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #bbb;
    border-radius: 3px;
    height: 60px;
    margin-right: 15px;
    width: 60px;
  }

  &__details {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-count {
      margin-left: 5px;
    }
  }

  &__rating-count,
  &__pricing,
  &__info {
    font-size: 12px;
  }

  &__favorite-icon {
    background: url('https://cdn-assets.alltrails.com/assets/packs/media/search/icon-action-favorite-dark-a05b1a78.svg') no-repeat 50%;
    border: none;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: background 500ms;

    &.favorite {
      background: url('https://cdn-assets.alltrails.com/assets/packs/media/search/icon-action-favorite-solid-3a3f7aa4.svg') no-repeat 50%;
      transition: background 500ms;
    }
  }
}